.bg-white{background:white}
.bg-pearl{background:white}
.bg-soft{background:white}
.bg-silver{background:silver}
.bg-steel{background:silver}
.bg-chrome{background:silver}
.bg-light-gray{background:lightGray}
.bg-gray{background:gray}
.bg-dark-gray{background:darkGray}
.bg-carbon{background:black;color:white}
.bg-black{background:black;color:white}
.bg-night{background:black;color:white}
.bg-light-red{background:red}
.bg-red{background:red}
.bg-dark-red{background:red}
.bg-light-orange{background:orange}
.bg-orange{background:orange}
.bg-dark-orange{background:orange}
.bg-light-tan{background:tan}
.bg-tan{background:tan}
.bg-dark-tan{background:tan}
.bg-light-yellow{background:yellow}
.bg-yellow{background:yellow}
.bg-dark-yellow{background:yellow}
.bg-light-green{background:green}
.bg-green{background:green}
.bg-dark-green{background:green}
.bg-light-cyan{background:cyan}
.bg-cyan{background:cyan}
.bg-dark-cyan{background:cyan}
.bg-light-teal{background:teal}
.bg-teal{background:teal}
.bg-dark-teal{background:teal}
.bg-light-blue{background:blue}
.bg-blue{background:blue}
.bg-dark-blue{background:blue}
.bg-light-purple{background:purple}
.bg-purple{background:purple}
.bg-dark-purple{background:purple}
.bg-light-magenta{background:magenta}
.bg-magenta{background:magenta}
.bg-dark-magenta{background:magenta}
.bg-light-brown{background:brown}
.bg-brown{background:brown}
.bg-dark-brown{background:brown}
